<section class="main-section">
  <h1 class="title">Notes Making App</h1>
  <div class="todo-list">
    <div class="list-head">
      <input type="text" class="entered-list" #userInput>
      <button class="add-list" (click)="addNotes(userInput.value)" (click)="userInput.value = ''"> Add </button>
    </div>
    <div class="tasks" *ngIf="notesArray">
      <div class="item" *ngFor="let data of notesArray;">
        <p >{{data}}</p>
        <div class="item-btn">
          <fa-icon [icon]="edit"(click)="editNotes()"></fa-icon>
          <fa-icon [icon]="Close"(click)="deleteNotes(data.id)"></fa-icon>
        </div>
        
      </div>
    </div>
  </div>
  
</section>


